<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key><string>VidP</string>
	<key>CFBundleDisplayName</key><string>VidP</string>
	<key>CFBundleIdentifier</key><string>com.mdopeace.vidp</string>
	<key>CFBundleExecutable</key><string>VidP</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleShortVersionString</key><string>0.1.0</string>
	<key>CFBundleVersion</key><string>1</string>
	<key>LSMinimumSystemVersion</key><string>14.0</string>
	<key>NSHighResolutionCapable</key><true/>
	<key>LSApplicationCategoryType</key><string>public.app-category.video</string>
	<key>LSSupportsOpeningDocumentsInPlace</key><true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key><string>Movie</string>
			<key>CFBundleTypeRole</key><string>Viewer</string>
			<key>LSHandlerRank</key><string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>org.matroska.mkv</string>
				<string>org.webmproject.webm</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key><string>org.matroska.mkv</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.movie</string></array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>mkv</string></array>
				<key>public.mime-type</key>
				<array><string>video/x-matroska</string></array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key><string>org.webmproject.webm</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.movie</string></array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>webm</string></array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
